<!-- MISSION Section -->
    <section id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mission</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div>
                <p>The mission of the Brzostek Lab is to produce new knowledge, train new scientists, and promote scientific engagement and literacy in the field of ecosystem science.</p>
            </div>
        </div>
    </section>
